# Eventbrite API Credentials
EVENTBRITE_PRIVATE_TOKEN=2DSU3KZTC2OOIEX44SCN
EVENTBRITE_ORG_ID=3002300540689


# Ticketmaster API
TICKETMASTER_API_KEY=RdCeGCFyhYCjDn0aGGF23mjUdTpcAPhh


# Flask Config
FLASK_ENV=development
SECRET_KEY=your-super-secret-key-change-this
JWT_SECRET_KEY=your-jwt-secret-key-change-this

# Database
DATABASE_URL=sqlite:///events.db