.events-section {
  padding: 20px 60px 80px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.load-more-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.load-more-btn {
  padding: 14px 28px;
  border: none;
  border-radius: 12px;

  background-color: var(--primary-color);
  color: white;

  font-weight: 600;
  cursor: pointer;

  transition: 0.3s ease;
}

.load-more-btn:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}